#habilidades {
    padding: 2rem;
}

#habilidades h2 {
    justify-content: start;
    align-items: start;
    text-align: start;
    margin-bottom: 2rem;
}

.skills-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.skills-column {
    overflow: hidden;
    background-color: var(--bg-color);
    color: white;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#habilidades h3 {
    border-bottom: 2px solid var(--accent-color);
    padding-bottom: 0.5rem;
    margin-bottom: 1rem;
}

#habilidades ul {
    z-index: 0;
    list-style-type: none;
    padding: 0;
}

#habilidades li {
    z-index: 1; /* Asegúrate de que sea menor que el sidebar */
    z-index: 0;
    margin: 0.8rem 0;
    padding-left: 1.5rem;
}

#habilidades li::before {
    content: "•";
    color: var(--accent-color);
    justify-content: start;
    margin-right: 10px;
    align-items: start;
}

@media (min-width: 768px) {
    .skills-container {
        
        flex-direction: row;
        justify-content: space-between;
        z-index: 10;
    }

    .skills-column {
        width: 48%;
    }
    

}

@media (min-width: 1024px) {
    #habilidades {
        padding: 3rem;
    }

    .skills-container {
        gap: 3rem;
    }
}