#Experiencia article{
    height: 380px;
  }
  #Experiencia img{
    margin-top: 10px;
    object-fit: contain;
    height: 280px;
  
  }
  #Experiencia .post-info{
    color: white;
    border-bottom: #444 solid 1px;
  }
  