.navbar {
    position: relative;
  }
  
  .navbar ul {
    align-items: center;
    margin-top: 0px;
    border-radius: 10px;
    border: #444 solid 1px;
    justify-content: end;
    list-style-type: none;
    padding: 20px;
    background-color: var(--bg-color);
    display: flex;
    gap: 1rem;
    margin-bottom: 2rem;
  }
  
  .navbar a {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
  }

  .navbar a:hover {
    color: var(--text-color);
    text-decoration: none;
    padding: 0.5rem 1rem;
    border-radius: 5px;
    background-color: #444;;
    color:var(--text-color);
    transition: color 0.6s ease;
  }
  
  
  .navbar a.active {
    transition: color 0.6s ease;
    background-color: var(--accent-color);
    color: var(--bg-color);
  }
  
  .hamburger {
    display: none;
    flex-direction: column;
    justify-content: space-around;
    width: 2rem;
    height: 2rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    z-index: 10;
  }
  
  .hamburger span {
    width: 2rem;
    height: 0.25rem;
    background: var(--text-color);
    border-radius: 10px;
    transition: all 0.3s linear;
    position: relative;
    transform-origin: 1px;
  }
  
  @media (max-width: 768px) {
    .hamburger {
        position: absolute;
        top: 1rem;
        right: 1rem;
      display: flex;
      align-items: end;
    }
  
    .navbar ul {
      flex-direction: column;
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background-color: var(--bg-color);
      display: none;
      padding: 1rem;
      box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    }
  
    .navbar ul.show {
      display: flex;
    }
  
    .navbar li {
      margin: 0.5rem 0;
    }
}