.sidebar {  
    position: fixed;
    top: 0;
    left: -450px;
    height: 100%;
    width: 250px;   
    background-color: var(--bg-color);
    padding: 2rem;  
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);   
    color: #fff;   
    transition: left 0.3s ease-in-out;
    overflow-y: auto;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;  
    border: #444 1px solid;
    border-radius: 20px;
    justify-content: center;  
    align-items: center;  
    text-align: center;  

}  

.sidebar.open {
    left: 0;
}

.sidebar-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    z-index: 1000;
    background-color: var(--bg-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
}
.profile{
  justify-content: center;
}

.profile-image {  
    width: 100px;  
    height: 100px;  
    border-radius: 50%;  
}  

.profile h1 {  
    margin: 0.5rem 0;  
    font-size: 1.5rem;  
    font-weight: bold;  
}  

.profile .role {  
    margin: 0.5rem 0;  
    color: #ccc;
    font-size: 0.9rem;  
    background-color: #555;
    padding: 0.2rem 1rem;  
    border-radius: 10px;  
}  

.contact-info {  
    margin-top: 2rem;  
    text-align: left;  
}  

.info-item {  
    display: flex;  
    align-items: center;  
    padding: 10px 0;  
    border-bottom: 1px solid #555;
}  

.icon {  
    font-size: 1.5rem;  
    margin-right: 10px;  
    color: #ffd700;
}  

.info-text {  
    color: #ccc;
}  

.info-text strong {  
    color: #fff;
}

.redes {
    display: flex;
    justify-content: center;
    gap: 15px; 
    margin-top: 20px; 
  }
  .redes-icono {
    color: #fff; 
    font-size: 24px; 
    text-decoration: none; 
    transition: color 0.3s ease; /
  }
  
  .redes-icono:hover {
    color: #ff4081; 
  }

@media (min-width: 768px) {
    .sidebar {
        margin-top: 18px;
        position: static;
        left: 0;
    }

    .sidebar-toggle {
        display: none;
    }
}